{% block translatable_row %}
    <div class="row">
        <div class="columns">
            <div class="translatable-vertical-header">
                {{ form_label(form) }}
                <dl class="tabs language-tabs-switch translatable-vertical" data-tab>
                    {% for locale in locales %}
                        {% if loop.first %}
                            {% set attrs = "class=active" %}
                        {% else %}
                            {% set attrs = "" %}
                        {% endif %}

                        <dd {{ attrs }}><a href="#name_{{ locale }}">{{ locale }}</a></dd>
                    {% endfor %}
                </dl>
            </div>
            <div class="tabs-content language-tabs-content">
                {% for locale in locales %}
                    {% if loop.first %}
                        {% set class = "active" %}
                    {% else %}
                        {% set class = "" %}
                    {% endif %}

                    <div class="content {{ class }}" id="name_{{ locale }}">
                        {{ form_widget(attribute(form, "name_#{locale}")) }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
